@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  touch-action: manipulation;
}

.jump {
  animation: jump 1s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.bubble {
  width: 140px;
  height: 140px;
  border: 4px solid white;
  border-radius: 100%;
  backdrop-filter: blur(10px);
  filter: drop-shadow(0 0 10px purple);
  animation: bubbleFloatToBottom 5s infinite;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

@keyframes bubbleFloatToBottom {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}

.bubblePop {
  animation: bubblePop 1s infinite;
}

@keyframes bubblePop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.shakePhone {
  animation: shakePhone 1s infinite;
}

@keyframes shakePhone {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
